.vscode/
.devcontainer/
build/
example_ota_ws/sdkconfig
example_ota_ws/sdkconfig.old
example_ota_ws/managed_components/espressif__esp_encrypted_img/.component_hash
example_ota_ws/managed_components/espressif__esp_encrypted_img/CHANGELOG.md
example_ota_ws/managed_components/espressif__esp_encrypted_img/CMakeLists.txt
example_ota_ws/managed_components/espressif__esp_encrypted_img/idf_component.yml
example_ota_ws/managed_components/espressif__esp_encrypted_img/image_format.png
example_ota_ws/managed_components/espressif__esp_encrypted_img/LICENSE
example_ota_ws/managed_components/espressif__esp_encrypted_img/project_include.cmake
example_ota_ws/managed_components/espressif__esp_encrypted_img/README.md
example_ota_ws/managed_components/espressif__esp_encrypted_img/include/esp_encrypted_img.h
example_ota_ws/managed_components/espressif__esp_encrypted_img/src/esp_encrypted_img.c
example_ota_ws/managed_components/espressif__esp_encrypted_img/test/CMakeLists.txt
example_ota_ws/managed_components/espressif__esp_encrypted_img/test/image.bin
example_ota_ws/managed_components/espressif__esp_encrypted_img/test/test.c
example_ota_ws/managed_components/espressif__esp_encrypted_img/test/certs/test_rsa_private_key.pem
example_ota_ws/managed_components/espressif__esp_encrypted_img/tools/esp_enc_img_gen.py
